.panel-heading {
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: #fff !important;
    /* border-radius: 2px; */
    
    
}
.panel-body{
    /* border-radius:2px; */
    width:100%;
    margin-bottom: 1%; 
    margin-right: 7%;
    margin-left: 2%;
}
.panel-heading1 {
    background-image: linear-gradient(#04519b, #044687 10%, #033769);
    color: #fff !important;
    /* border-radius: 2px; */
    
   
}

.friends img {
    width: 70px;
    margin-top: 5%;
    margin-bottom:5% ;
}

.groups img {
    width: 70px;
    float: left;
}
.friends li {
    list-style: none;
    display: inline;
    float: left;
    padding: 0 5px;
}
.border{
    border-radius:2px;
    width:80%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-left:20%;
    
}
.group-item {
    padding-bottom: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    overflow: auto;
    margin-left: 3%;
    margin-right: 4%;
}
.span{
    color: blue;
    font-size: 20px;
}
.members{
    margin-top:3%;
    margin-left: 2%;
}
.col-md-3{
    margin-top:3%;
}
.p{
    margin-top:30%;
    margin-right: 1%;
}
.img-thumbnail{
    width:130px;
}
.text-center{
    text-align: center;
    margin-right: 40%;
}
.row{
    margin-right:0% ;
}