



.footer1{
    background-color: whitesmoke;
    color: #04519b;
    padding: 12px;
    text-align: center;
    /* margin-right:1%; */
    /* width: 100%; */
    
    
    margin-bottom: 0%;
}
.footer{
    color: #04519b;

}
body{
    max-width: 100%;
    max-height: 100%;
}